<template>
    <!--  Name input  -->
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1">Create new ingredient</span>
        <input type="text" v-model="name" class="form-control" placeholder="Ingredient name">
        <br>

    </div>
    <div id="ingredientNameHelpBlock" class="form-text text-center">
        Specify the name of the new ingredient that users will be able to add to their recipes
        in the future.
    </div>

    <!--  Errors display  -->
    <div class="d-grid justify-content-md-end">
        <ul>
            <li class="text-danger" v-for="(error, index) in errors" :key="index">{{ error }}</li>
        </ul>
    </div>

    <!--  Create button  -->
    <div class="d-grid justify-content-md-end">
        <button @click.prevent="createIngredient" type="submit" class="btn btn-primary d-md-flex justify-content-md-end">
            Create +
        </button>
    </div>


</template>

<script>
export default {
    name: "CreateIngredientComponent",

    data() {
        return {
            name: null,
            errors: [],
        }
    },

    methods: {
        createIngredient() {
            axios.post('/api/v1/ingredient', {name: this.name})
                .then(res => {
                    this.name = null
                    this.$parent.getIngredients()
                })
                .catch(error => {
                    let messages = Object.values(error.response.data.errors);
                    this.errors = [].concat.apply([], messages);
                })
        },
    },
}
</script>

<style scoped>

</style>
