<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header h4 text-center">All ingredients</div>

                <div class="card-body">
                    <div class="container pt-2">

                        <CreateIngredientComponent></CreateIngredientComponent>

                        <div class="d-grid justify-content-md-center">
                            <ul>
                                <li class="text-danger" v-for="(error, index) in errors" :key="index">{{ error }}</li>
                            </ul>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Options</th>
                            </tr>
                            </thead>
                            <tbody>
                            <template v-for="ingredient in ingredients">
                                <tr :class="isEdit(ingredient.id) ? 'd-none' : '' ">
                                    <th scope="row">{{ ingredient.id }}</th>
                                    <td>{{ ingredient.name }}</td>
                                    <td>
                                        <button type="submit"
                                                @click.prevent="changeEditIngredientId(ingredient.id, ingredient.name)"
                                                class="btn btn-outline-primary">Edit
                                        </button>
                                    </td>
                                    <td>
                                        <button type="submit" @click="deleteIngredient(ingredient.id)"
                                                class="btn btn-outline-danger ms-2 text-end"
                                                onclick=" return confirm('Are you sure you wish to delete this recipe ?')">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                                <tr :class="isEdit(ingredient.id) ? '' : 'd-none' ">
                                    <th scope="row">=></th>
                                    <td><input type="text" v-model="editName" class="form-control"></td>
                                    <td>
                                        <button type="submit" @click.prevent="updateIngredient(ingredient.id)"
                                                class="btn btn-outline-primary">
                                            Confirm changes
                                        </button>
                                    </td>
                                    <td>
                                        <button @click.prevent="cancelEdit" type="submit"
                                                class="btn btn-outline-danger ms-2 text-end">
                                            Cancel
                                        </button>
                                    </td>
                                </tr>
                            </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import CreateIngredientComponent from "./CreateIngredientComponent.vue";

export default {
    name: "IndexIngredientComponent",

    data() {
        return {
            ingredients: null,
            editIngredientId: null,
            editName: null,
            errors: [],
        }
    },

    mounted() {
        this.getIngredients()
    },

    methods: {
        getIngredients() {
            axios.get('/api/v1/ingredient')
                .then(res => {
                    this.ingredients = res.data.data
                })
        },

        updateIngredient(id) {
            axios.patch(`/api/v1/ingredient/${id}`, {name: this.editName})
                .then(res => {
                    this.editName = null
                    this.editIngredientId = null
                    this.errors = []
                    this.getIngredients()
                })
                .catch(error => {
                    let messages = Object.values(error.response.data.errors);
                    this.errors = [].concat.apply([], messages);
                })
        },
        deleteIngredient(id) {
            axios.delete(`/api/v1/ingredient/${id}`)
                .then(res => {
                    this.getIngredients()
                })
        },


        changeEditIngredientId(id, name) {
            this.editIngredientId = id
            this.editName = name
        },

        isEdit(id) {
            return this.editIngredientId === id
        },

        cancelEdit() {
            this.editIngredientId = null
            this.editName = null
        }
    },

    components: {
        CreateIngredientComponent
    }
}
</script>

<style scoped>

</style>
