<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header h4 text-center">New Recipe</div>
                <div class="card-body">
                    <div class="container pt-2">

                        <div class="col-md-12">


                            <form action="/" method="post" enctype="multipart/form-data">

                                <!--  Success message  -->
                                <div v-if="successMessage" class="alert alert-success text-center">
                                    {{ successMessage }}
                                </div>

                                <!--  Image section  -->
                                <div class="row ms-2 mt-2">

                                    <div class="col-md-9">
                                        <div class="mb-3">
                                            <input type="file" class="form-control" @change=uploadImage>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mb-3" :class="issetPreviewImage() ? '' : 'd-none' ">
                                            <img :src="previewImage" class="border border-3 rounded p-1"
                                                 style="max-width: 100%; height: auto;"/>
                                        </div>
                                    </div>

                                </div>

                                <!--  Name  -->
                                <div class="mb-3 col-sm-6">
                                    <label class="form-label">Recipe title</label>
                                    <input v-model="name" type="text" class="form-control">
                                </div>

                                <!--  Type  -->
                                <div class="mb-3">
                                    <label for="floatingSelect">Dish Type</label>
                                    <select v-model="selectedType" class="form-select" id="floatingSelect"
                                            aria-label="Select dish type">
                                        <option disabled>Select dish type</option>
                                        <option v-for="dishType in dishTypes" :value="dishType.id">
                                            {{ dishType.name }}
                                        </option>
                                    </select>
                                </div>

                                <!--  Needed ingredients  -->
                                <div :class="issetIngredients() ? '' : 'd-none' " class="form-floating mb-3">
                                    <h3>Ingredients: </h3>
                                    <button v-for="ingredient in selectedIngredients" type="button"
                                            @click.prevent="removeIngredient(ingredient)"
                                            class="me-1 btn btn-outline-secondary">
                                        {{ getIngredientNameById(ingredient) }}
                                    </button>
                                </div>

                                <!--  Ingredient search  -->
                                <input type="search" v-model="search" class="form-control mb-3"
                                       placeholder="Ingredient for search...">

                                <!--  List of all ingredients  -->
                                <div class="mb-3">
                                    <label for="ingredients">Select Ingredient:</label>
                                    <select multiple id="ingredients" class="form-select">
                                        <option @click="addIngredient(ingredient.id)"
                                                v-for="ingredient in filteredList" :key="ingredient.id"
                                                :value="ingredient.id">
                                            {{ ingredient.name }}
                                        </option>
                                    </select>
                                </div>

                                <!--  Description  -->
                                <div class="mb-3 form-floating">
                                                <textarea v-model="description" class="form-control"
                                                          placeholder="Leave a description here"
                                                          id="floatingTextarea"></textarea>
                                    <label for="floatingTextarea">Description</label>
                                </div>

                                <!--  Errors display  -->
                                <ul>
                                    <li v-for="(error, index) in errors" :key="index">{{ error }}</li>
                                </ul>

                                <!--  Submit button  -->
                                <button :disabled="!isDisabled" @click.prevent="addRecipe" type="submit"
                                        class="btn btn-success float-end">Submit
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "CreateRecipeComponent",

    data() {
        return {
            name: null,
            dishTypes: null,
            selectedType: null,
            previewImage: null,
            image: null,
            description: null,

            selectedIngredients: [],
            ingredients: null,

            errors: [],
            search: '',

            successMessage: null,
        }
    },
    props: ['userId'],


    mounted() {
        this.getDishTypes()
        this.getIngredients()
    },

    methods: {
        addRecipe() {

            const formData = new FormData

            formData.set('name', this.name)
            formData.set('dish_type_id', this.selectedType)
            formData.set('description', this.description)
            formData.set('image', this.image)
            formData.set('author_id', this.userId)

            formData.append('ingredients', this.selectedIngredients.join(','));

            axios.post('/api/v1/recipe', formData)
                .then(res => {
                    this.successMessage = 'Recipe create successfully'
                    this.name = null
                    this.selectedType = null
                    this.description = null
                    this.image = null
                    this.previewImage = null
                })
                .catch(error => {
                    let messages = Object.values(error.response.data.errors);
                    this.errors = [].concat.apply([], messages);
                })
        },

        issetPreviewImage() {
            return this.previewImage !== null
        },

        uploadImage(e) {
            this.image = e.target.files[0]
            const image = e.target.files[0]
            const reader = new FileReader()
            reader.readAsDataURL(image)
            reader.onload = e => {
                this.previewImage = e.target.result
            };
            if (this.image) {
                if (/\.(jpe?g|png|gif)$/i.test(this.image)) {
                    reader.readAsDataURL(this.image)
                }
            }
        },

        getDishTypes() {
            axios.get('/api/v1/dish-type')
                .then(res => {
                    this.dishTypes = res.data.data
                })
        },

        getIngredients() {
            axios.get('/api/v1/ingredient')
                .then(res => {
                    this.ingredients = res.data.data
                })
        },

        addIngredient(ingredientId) {
            const index = this.selectedIngredients.indexOf(ingredientId);

            if (index === -1) {
                this.selectedIngredients.push(ingredientId);
            } else {
                this.selectedIngredients.splice(index, 1);
            }
        },

        removeIngredient(ingredientId) {
            this.selectedIngredients = this.selectedIngredients.filter((ingredient) => ingredient !== ingredientId);
        },

        issetIngredients() {
            return this.selectedIngredients.length !== 0
        },

        getIngredientNameById(ingredientId) {
            const ingredient = this.ingredients.find((ingredient) => ingredient.id === ingredientId);
            return ingredient.name;
        },
    },

    computed: {
        isDisabled() {
            return this.name && this.selectedType && this.description && this.image && this.selectedIngredients.length !== 0
        },

        ingredientList() {
            return this.selectedIngredients.map((ingredient) => this.ingredients.find(x => x.id === ingredient).name).join(', ')

        },
        filteredList() {
            if (this.search.trim().length > 0) {
                return this.ingredients.filter(ingredient => {
                    return ingredient.name.toLowerCase().includes(this.search.toLowerCase())
                })
            }
            return this.ingredients
        },
    }
}
</script>

<style scoped>

</style>
